* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  color: whitesmoke;
}

body {
  font-family: 'Arial', sans-serif;
}

.navbar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  background: rgba(36,37,42,255);
  background-blend-mode: darken;
  background-size: cover;
  color: white;
  padding: 10px 20px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #5058f9;
  /* Change the color on hover */
}

.rightNav {
  text-align: right;
}

#search {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.btn {
  background-color: #5058f9;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #000;
  /* Change the background color on hover */
  color: #5058f9;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
}
.stars input {
  display: none;
}
.stars label {
  color: gray;
}
.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
  color: gold;
}
.rating-container {
  text-align: center;
}
.hidden-text {
  display: none;
  font-size: 1.5rem;
  margin-top: 10px;
  animation: spin 1s linear;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}